name: blackbox_workspace
environment:
  sdk: ">=3.10.8 <4.0.0"
dev_dependencies:
  melos: ^7.4.0
workspace:
  - packages/blackbox_core
  - packages/blackbox_annotations
  - packages/blackbox_codegen
  - packages/blackbox_flutter
  - examples/blackbox_example
melos:
  scripts:
    analyze:
      run: dart analyze .
      exec:
        concurrency: 1

    test:
      run: dart test
      exec:
        concurrency: 1

    build:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 1
        packageFilters:
          dependsOn: build_runner

    clean:
      run: flutter clean || true
      exec:
        concurrency: 1
